<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - Notes App</title>
    <link rel="stylesheet" href="/auth/authStyle.css" />
</head>
<body>
    <div class="container">
        <h2>Login</h2>
        <input type="email" id="login-email" placeholder="Email" required />
        <input type="password" id="login-password" placeholder="Password" required />
        <button onclick="login()">Login</button>
        <p>Do not have an account? <a href="./register.html">Register</a></p>
    </div>

    <script src="/config.js"></script>
    <script src="/auth/auth.js"></script>
</body>
</html>
